<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bme.cty"
    android:versionCode="3"
    android:versionName="1.1.0" >



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bme.cty.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bme.cty.DiagnoseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bme.cty.ChartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bme.cty.DataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bme.cty.SquareActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bme.cty.MoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bme.cty.PersonalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bme.cty.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bme.cty.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bme.cty.WhatActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
